
@media (min-width: 1440px ){
    * {
        background: #F3F5FC;
        font-family: "Inter";
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
    }
    
    .logo{
        padding-top: 10px;
        margin-left: 10px;
        width: 10%;
    }
    
    main{
        display: flex;
        
    }
    
    .text-area{
        border: none;
        color: #0A3871;
        margin-top: 90px;
        text-transform: lowercase;
        margin-left: 500px;
    }
    
    ::placeholder { color: #0A3871; }
        .text-area:focus {
            outline: none;
        }
    
    .mensaje{
        background: white;
        background-image: url("/imagenes/Muñeco.png");
        background-repeat: no-repeat;
        border: none;
        border-radius: 24px;
        color: #0A3871;
        margin-left: 98px;
        margin-top: 0px;
        padding-left: 20px;
        position: fixed;
        width: 300px;
        height: 800px;
        background-position: center;
    }
    
    .botones{
        display: flex;
        margin-top: 18px;
        margin-left: 500px;
    }
    
    .btn-desencriptar {
        background: #F3F5FC;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color:#0A3871;
        height: 50px;
        margin-left: 30px;
        width: 300px;
        font-size: 23px;
    }
    
    .btn-encriptar {
        background-color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: white;
        cursor: pointer;
        height: 50px;
        width: 300px;
        font-size: 23px;
    }
    
    .copiar {
        background: white;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        cursor: pointer;
        height: 50px;
        margin-left: 110px;
        margin-top: 700px;
        position: absolute;
        width: 300px;
        font-size: 23px;
    }
    
    .copiar:hover, .btn-desencriptar:hover {
        background-color:#9fb1c8;
    }
    
    .btn-encriptar:hover{
        background: #9fb1c8;
    }
    .informacion {
        color: #495057;
        font-size: 18px;
        margin-left: 510px;
    }
}

 @media (min-width:768px) and (max-width: 1430px) {
    /* Estilos globales */
    * {
        background: #F3F5FC;
        font-family: "Inter";
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
    }
    
    .logo{
        padding-top: 10px;
        margin-left: 10px;
        width: 15%;
    }
    
    main {
        display: flex;
        flex-direction: column; /* Asegura que los elementos estén apilados verticalmente */
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .text-area {
        border: none;
        color: #0A3871;
        margin-top: 90px;
        text-transform: lowercase;
        margin-left: 50px;
    }
    
    ::placeholder {
        color: #0A3871;
    }
    
    .text-area:focus {
        outline: none;
    }
    
    .mensaje {
        background: white;
        background-repeat: no-repeat;
        border: none;
        border-radius: 24px;
        color: #0A3871;
        margin-left: 50px;
        margin-top: 30px; /* Ajusta este margen según sea necesario para colocarlo debajo de los botones */
        padding-left: 0px;
        position: relative; /* Cambia de fixed a relative */
        width: 650px;
        height: 300px;
        background-position: left;
    }
    
    .botones {
        display: flex;
        margin-top: 18px;
        margin-left: 50px;
    }
    
    .btn-desencriptar {
        background: #F3F5FC;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        height: 50px;
        margin-left: 30px;
        width: 300px;
        font-size: 23px;
    }
    
    .btn-encriptar {
        background-color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: white;
        cursor: pointer;
        height: 50px;
        width: 300px;
        font-size: 23px;
    }
    
    .copiar {
        background: white;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        cursor: pointer;
        height: 50px;
        margin-left: 180px;
        width: 300px;
        font-size: 23px;
        position: absolute;
       
    }
    
    .copiar:hover, .btn-desencriptar:hover {
        background-color: #9fb1c8;
    }
    
    .btn-encriptar:hover {
        background: #9fb1c8;
    }
    
    .informacion {
        color: #495057;
        font-size: 18px;
        margin-left: 50px;
    }

   
}

@media (max-width: 767px){
    * {
        background: #F3F5FC;
        font-family: "Inter";
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        
    }
    
    .logo{
        padding-top: 10px;
        margin-left: 10px;
        width: 45%;
    }
    
    main {
        display: flex;
        flex-direction: column; /* Asegura que los elementos estén apilados verticalmente */
        
    }
    
    .text-area {
        border: none;
        color: #0A3871;
        margin-top: 90px;
        text-transform: lowercase;
        margin-left: 100px;
        font-size: 60px;
        height: 500px;
    }
    
    ::placeholder {
        color: #0A3871;
    }
    
    .text-area:focus {
        outline: none;
    }
    
    .mensaje {
        background: white;
        background-repeat: no-repeat;
        border: none;
        border-radius: 24px;
        color: #0A3871;
        margin-left: 50px;
        margin-top: 30px; /* Ajusta este margen según sea necesario para colocarlo debajo de los botones */
        padding-left: 0px;
        position: relative; /* Cambia de fixed a relative */
        width: 650px;
        height: 300px;
        background-position: left;
    }
    
    .botones {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
        margin-left: 50px;
        margin-bottom: 100px;
    }
    
    .btn-desencriptar {
        background: #F3F5FC;
        border: 1px solid #0A3871;
        border-radius: 50px;
        color: #0A3871;
        height: 120px;
        margin-left: 0px;
        margin-top: 20px;
        width: 650px;
        font-size: 15px;
    }
    
    .btn-encriptar {
        background-color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        height: 120px;
        width: 650px;
        font-size: 23px;
        margin-left: 0px;
    }
    
    .copiar {
        background: white;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        cursor: pointer;
        height: 50px;
        margin-left: 210px;
        width: 300px;
        font-size: 23px;
        position: absolute;
       
    }
    
    .copiar:hover, .btn-desencriptar:hover {
        background-color: #9fb1c8;
    }
    
    .btn-encriptar:hover {
        background: #9fb1c8;
    }
    
    .informacion {
        color: #495057;
        font-size: 25px;
        margin-left: 50px;
        
    }

    
}
